body {
    font-size: 15px;
    text-align: center;
    font-family: poppins;
}

.container {
    padding: 1%;
}

#main-content {
    padding-bottom: 40px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-title {
    font-size: 30px;
    color:hsl(234, 12%, 34%);
    font-weight: lighter;
}

.second-title {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 15px;
    color:hsl(234, 12%, 34%)
}

.main-text {
    width: 500px;
    margin: auto;
    color: hsl(229, 6%, 66%)
}

#secondary-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.card {
    border-style: hidden;
    padding: 2%;
    margin: auto;
    height: 100x;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 4px 10px #a3a5ae;
}

.card-name {
    margin-bottom: 15px;
    font-weight: bold;
    /* margin-top: 15px; */
    color:hsl(234, 12%, 34%)
}

.card-text {
    color: hsl(229, 6%, 66%)
}

.double-card {
    margin: auto;
    margin-left: -25px;
    margin-right: 20px;
    width: 270px;
    
}

@media(max-width: 375px) {
    #secondary-content {
        flex-direction: column;
    }
}

.left-card {
    border-top: 4px solid #45d3d3;
}

.up-card {
    margin-bottom: 30px;
    border-top: 4px solid #ea5353;
}

.right-card {
    border-top: 4px solid #549ef2;
}

.down-card {
    border-top: 4px solid #fcaf4a;
}

#secondary-content svg {
    margin-left: 200px;
    margin-top: 50px;
}